<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Display Movies</a>
    </div>
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Add Movie</a>
    </div>
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Update Movie</a>
    </div>
    <div class="navbar-default">

      <div class="navbar-header">
        <a href="#" class="navbar-brand">Sign In/Sign Up</a>
      </div>
    </div>
  </div>
</nav>


