<div class="row">
  <form [formGroup]="signup">
    <div class="row">
      <div class="form-group">
        <label for="email">Your Email Address</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="text@something.com"
        />
        <label for="email">Your Email Address</label>
        <input
          type="text"
          id="first_name"
          class="form-control"
          placeholder="first name"
        />
      </div>
    </div>
  </form>
</div>
